<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= @shortened.url %>
    <% if flash[:shortened_id].present? %>
    <p class="shortened-link">
      The shortened url is available <%= link_to 'here',
      url_url(flash[:shortened_id]) %>.
      (Right click and copy link to share it).
    </p>
    <% end %>
    <%= yield %>
  </body>
</html>
